body {
  background-color: lightblue;
  background-image: url("https://minecraft.wiki/images/Dirt_%28texture%29_JE2_BE2.png?c9c97");
}

h1, p{
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
