body {
  background-image: url("https://static.planetminecraft.com/files/resource_media/screenshot/1236/pack_3530346.jpg");
  background-size: auto 6rem;
}

h1, p{
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
