body {
  background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/e/ee/Dirt_%28texture%29_JE1_BE1.png/revision/latest/scale-to-width-down/32?cb=20220403185110");
  background-size: auto 6rem;
}

h1, p{
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
